# MONGODB_URI=mongodb://localhost:27017/healthcare
MONGODB_URI=mongodb+srv://rukku93223_db_user:uORHKFIaA44XZtMG@cluster0.8axanp6.mongodb.net/healthcare?appName=ghc
PORT=3000
DB_USER_NAME=rukku93223_db_user
DB_PASS=uORHKFIaA44XZtMG

COMPASS_URL=mongodb+srv://rukku93223_db_user:uORHKFIaA44XZtMG@cluster0.8axanp6.mongodb.net/

JWT_SECRET=your_jwt_secret_key

# GCP
GEMINI_API_KEY=AQ.Ab8RN6K95iTylCk69wYnxe0lQoUDWIb3pknNP9VTMChwjaFKVg
GOOGLE_CLOUD_PROJECT=project-3857994f-2565-4c14-9a7
GOOGLE_CLOUD_LOCATION=global
GOOGLE_CLOUD_LOCATION_US=us-central1
GOOGLE_CLOUD_LOCATION_IN=asia-south1
GOOGLE_GENAI_USE_ENTERPRISE=True
# Optional full path override (must match GOOGLE_CLOUD_LOCATION_IN):
# GOOGLE_CLOUD_STT_RECOGNIZER=projects/588930377639/locations/asia-south1/recognizers/lyreai
GOOGLE_CLOUD_STT_RECOGNIZER_ID=lyreai
