# MONGODB_URI=mongodb://localhost:27017/healthcare
MONGODB_URI=mongodb+srv://rukku93223_db_user:uORHKFIaA44XZtMG@cluster0.8axanp6.mongodb.net/healthcare?appName=ghc
PORT=3000
DB_USER_NAME=rukku93223_db_user
DB_PASS=uORHKFIaA44XZtMG

COMPASS_URL=mongodb+srv://rukku93223_db_user:uORHKFIaA44XZtMG@cluster0.8axanp6.mongodb.net/